<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
</head>
<body>
            <form name="customer"  method="POST">
            <p>input first name</p>
            <input name="fname" value="{{customer.first_name}}">
            <p>input second name</p>
            <input name="sname" value="{{customer.last_name}}">
            <p> </p>
                <button type="submit" name="submitbutton" value="customer">update</button>
            </form>
</body>
</html>